.pageHeader {
    text-align: center;
    padding: 4px;
    margin-top: 28px;
    font-family: 'ADLaM Display', cursive;
    background-color: #221f2c;
    color: #fff1f1;
}

.body {
    background-color: #090317;
    width: 100%;
    height: 100%;
    padding: 5px 0px;
}

.mainContent {
    display: flex;
    color: #ffeeee;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-left-width: 0px;
    border-top-style: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #221f2c;
    font-family: 60%;
    flex-direction: column;
}

.contentSection {
}