.body {
    background-color: #090317;
    width: 100%;
    height: 100%;
    padding: 5px 0px;
}

.pageHeader {
    text-align: center;
    padding: 4px;
    margin-top: 28px;
    font-family: 'ADLaM Display', cursive;
    background-color: #221f2c;
    color: #fff1f1;
    text-indent: 0px;
}

.downloadHeader {
    display: flex;
    width: 100%;
    align-items: center;
}

.downloadSpan {
    margin-left: auto;
    margin-right: 10%;
    font-size: 24px;
    font-variant: small-caps;
    text-decoration: underline;
}

.mainContent {
    display: flex;
    color: #ffeeee;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left-width: 0px;
    border-top-style: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #221f2c;
    font-family: 60%;
    flex-direction: column;
}

.socials {
    text-align: center;
    float: right;
    width: auto;
    height: auto;
    display: block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
}

.socialLinks {
    display: flex;
}

.socialLinks a {
    margin: 0px 10px 0px 10px;
}

a {
    color: #6053de;
    text-decoration: none;
}

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.divTable {
    display: flex;
    flex-direction: column;
}

.divRow {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.divCell {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0;
}
